.App {
  text-align: center;
}

.App-header {
  background-color: #37ce74;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Tahoma, sans-serif;
  font-size: calc(50px + 2vmin);
  color: white;
}

.Half-div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Tahoma, sans-serif;
  font-size: calc(50px + 2vmin);
  color: black;
}
